# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Environment files
.env
*.env

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# FAISS or local DB files
*.faiss
*.db
